.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  display: block;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #e5e5e5;
  border-radius: 1rem;
}

.chat-container {
  display: flex;
  justify-content: center;
}
